:host {
    width: 100%;
    height: 41px;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: block;
    position: absolute;
    background-color: #619bb9;
    background: linear-gradient(65deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.4);
}
.datetime {
    width: 70px;
    display: block;
    float: right;
    color: white;
    text-align: center;
    padding: 5px;
}
.icons {
    margin-left: 50px;
}
.icons li {
    display: block;
    float: left;
}