html, body {
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 12px;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
* {
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
}
.preload {
    text-align: center;
    padding-top: 100px;
    background: url("/assets/images/universe-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
}
.band {
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 50px;
}
.slogan {
    font-size: 40px;
    color: #343d46;
    font-weight: bold;
    margin-bottom: 20px;
}

.cssload-container{
    background:rgba(255,255,255,0.99);
}

.cssload-container div {
    width: 29px;
    height: 29px;
    position: absolute;
    background-color: rgb(204,204,204);
    top: 45%;
    border-radius: 50%;
}

.cssload-container div:nth-child(1) {
    background-color: rgb(255,84,96);
    animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(2) {
    background-color: rgb(255,157,132);
    animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(3) {
    background-color: rgb(240,231,151);
    animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(4) {
    background-color: rgb(117,176,138);
    animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}



@keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-o-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-ms-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-moz-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}